<div class="jumbotron text-center col-lg-12">
    <div class="col-lg-6">
        <h2>Query 1</h2>
        <div id="stripe-form">
            <form method="POST" id="payment-form" ng-submit="processForm(0)">
                <div>
                    <div class="cc-text">User</div>
                    <!--User-->
                    <input type="text" placeholder="e.g peyi3uzZdZ" size="30" autocomplete="off" class="card-number" ng-model="user"/>
                </div>
                <div>
                    <div class="cc-text">Start Time</div>
                    <!--Start Time-->
                    <input type="text" placeholder="yyyy-mm-ddThh:mm:ssZ" size="30" ng-model="start"/>
                </div>
                <div>
                    <div class="cc-text">End Time</div>
                    <!--End Time-->
                    <input type="text" placeholder="yyyy-mm-ddThh:mm:ssZ" size="30" ng-model="end"/>
                </div>
                <div>
                    <div class="cc-text">Distance</div>
                    <!--Distance-->
                    <input type="text" placeholder="in km" size="30" ng-model="distance"/>
                </div>

                <br>
                <button type="submit">Search</button>
            </form>


        </div>
    </div>
    <div class="col-lg-6">
        <h2>Query 2</h2>
        <div id="stripe-form2">
            <form method="POST" id="payment-form2" ng-submit="processForm2()">
                <!--<div>-->
                    <!--<div class="cc-text">User</div>-->
                    <!--&lt;!&ndash;User&ndash;&gt;-->
                    <!--<input type="text" placeholder="e.g peyi3uzZdZ" size="30" autocomplete="off" class="card-number" ng-model="user"/>-->
                <!--</div>-->
                <div>
                    <div class="cc-text">Start Time</div>
                    <!--Start Time-->
                    <input type="text" placeholder="yyyy-mm-ddThh:mm:ssZ" size="30" ng-model="start2"/>
                </div>
                <div>
                    <div class="cc-text">End Time</div>
                    <!--End Time-->
                    <input type="text" placeholder="yyyy-mm-ddThh:mm:ssZ" size="30" ng-model="end2"/>
                </div>
                <div>
                    <div class="cc-text">Distance</div>
                    <!--Distance-->
                    <input type="text" placeholder="in km" size="30" ng-model="distance2"/>
                </div>

                <br>
                <button type="submit">Search</button>
            </form>


        </div>
    </div>



</div>


<!--<div class="table-responsive">-->
        <a href="/file.csv" target="_blank" ng-show="checked">Download Query1 CSV</a>
        <a href="/file2.csv" target="_blank" class="pull-right" ng-show="checked2">Download Query2 CSV</a>
        <!--<br>-->
        <span class="text-center" style="position: relative; left:50%;">
            <span ng-repeat="page in pages">
                <a href ng-click="paginate(page)" class="pull-center">[{{page}}]</a>
            </span>
        </span>
<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th>Time Stamp</th>
        <th>Query UserID</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Battery</th>
        <th>Model</th>
        <th>Version</th>
        <th>Accuracy</th>
        <th>Confidence</th>
        <th>Activity</th>
        <th>Contact UserID</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Battery</th>
        <th>Model</th>
        <th>Version</th>
        <th>Accuracy</th>
        <th>Confidence</th>
        <th>Activity</th>

    </tr>
    <tr ng-repeat="person in people">
        <td>{{person.end}}</td>
        <td>{{person.queryUserId}}</td>
        <td>{{person.queryUserLong}}</td>
        <td>{{person.queryUserLat}}</td>
        <td>{{person.queryUserBattery}}</td>
        <td>{{person.queryUserModel}}</td>
        <td>{{person.queryUserVersion}}</td>
        <td>{{person.queryUserAccuracy}}</td>
        <td>{{person.queryUserConfidence}}</td>
        <td>{{person.queryUserActivity}}</td>
        <td>{{person.userId}}</td>
        <td>{{person.userLong}}</td>
        <td>{{person.userLat}}</td>
        <td>{{person.userBattery}}</td>
        <td>{{person.userModel}}</td>
        <td>{{person.userVersion}}</td>
        <td>{{person.userAccuracy}}</td>
        <td>{{person.userConfidence}}</td>
        <td>{{person.userActivity}}</td>
    </tr>
</table>
<!--</div>-->